@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo-cricketscholar.png";
    var mottoPath = "~/Themes/" + currentThemeName + "/Content/images/motto-cricketscholar-color.png";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}
<div class="header">
    @Html.Widget("header")
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            
            @Html.Action("TaxTypeSelector", "Common")
            
            @Html.Action("LanguageSelector", "Common")
            
            @Html.Widget("header_selectors")
        </div>
        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        </div>
    </div>
    <div class="header-lower">
        <div class="header-logo" style="width: 70%">
            <a href="@Url.RouteUrl("HomePage")">
                <img title="" alt="@storeName" src="@Url.Content(logoPath)">
            </a>
            <a style="padding-left: 20px" href="#">
                <img title="" alt="Science & Medicine of Cricket" src="@Url.Content(mottoPath)" style="margin-bottom:20px">
            </a>
        </div>
        @*<div style="padding-top: 65px;font-family: papyrus;font-weight: 800;color: navy;font-size: 16px;margin-left:-30px;">
            The Science and Medicine of Cricket
        </div>*@
        <div class="search-box store-search-box">
            @Html.Action("SearchBox", "Catalog")
        </div>
    </div>
</div>
